[defaults]
host_key_checking           = False
inventory                   = inventory/plugin_aws_ec2.yaml
remote_tmp                  = /tmp/.ansible/tmp
ansible_ssh_private_key_file=/etc/ssh/ssh_host_rsa_key

[inventory]
enable_plugins = amazon.aws.aws_ec2